{% extends "base.html" %}

{% block content %}

<section class="my-lg-14 my-8">
    <!-- category -->
    <div class="container">
       <!-- row -->
       <div class="row">
          <div class="col-12">
             <div class="mb-8">
                <!-- heading -->
                <h3 class="mb-0">Shop by Category</h3>
             </div>
          </div>
       </div>
       <!-- row -->
       <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-6 g-6">
          <!-- col -->
          <div class="col">
             <a href="shop-grid.html" class="text-decoration-none text-inherit">
                <!-- card -->
                <div class="card card-product">
                   <div class="card-body text-center py-8">
                      <!-- img -->
                      <img src="https://media.istockphoto.com/id/1282866808/es/foto/pollo-crudo-fresco.jpg?s=1024x1024&w=is&k=20&c=JXaDhS1g98CYq6hkDORQDc_amK34hHZycrkZtXUOpj8=" alt="Grocery Ecommerce Template" class="mb-3" width="80" height="80"/>
                      <!-- text -->
                      <div class="text-truncate">Dairy, Bread & Eggs</div>
                   </div>
                </div>
             </a>
          </div>
          <!-- col -->
          <div class="col">
             <a href="shop-grid.html" class="text-decoration-none text-inherit">
                <!-- card -->
                <div class="card card-product">
                   <div class="card-body text-center py-8">
                      <!-- img -->
                      <img src="https://media.istockphoto.com/id/1282866808/es/foto/pollo-crudo-fresco.jpg?s=1024x1024&w=is&k=20&c=JXaDhS1g98CYq6hkDORQDc_amK34hHZycrkZtXUOpj8=" alt="Grocery Ecommerce Template" class="mb-3" width="80" height="80" />
                      <!-- text -->
                      <div class="text-truncate">Snack & Munchies</div>
                   </div>
                </div>
             </a>
          </div>
          <!-- col -->
          <div class="col">
             <a href="shop-grid.html" class="text-decoration-none text-inherit">
                <!-- card -->
                <div class="card card-product">
                   <div class="card-body text-center py-8">
                      <!-- img -->
                      <img src="../assets/images/category/category-bakery-biscuits.jpg" alt="Grocery Ecommerce Template" class="mb-3" />
                      <!-- text -->
                      <div class="text-truncate">Bakery & Biscuits</div>
                   </div>
                </div>
             </a>
          </div>
          <!-- col -->
          <div class="col">
             <a href="shop-grid.html" class="text-decoration-none text-inherit">
                <!-- card -->
                <div class="card card-product">
                   <div class="card-body text-center py-8">
                      <!-- img -->
                      <img src="../assets/images/category/category-instant-food.jpg" alt="Grocery Ecommerce Template" class="mb-3" />
                      <div class="text-truncate">Instant Food</div>
                   </div>
                </div>
             </a>
          </div>
          <!-- col -->
          <div class="col">
             <a href="shop-grid.html" class="text-decoration-none text-inherit">
                <!-- card -->
                <div class="card card-product">
                   <div class="card-body text-center py-8">
                      <!-- img -->
                      <img src="../assets/images/category/category-tea-coffee-drinks.jpg" alt="Grocery Ecommerce Template" class="mb-3" />
                      <div class="text-truncate">Tea, Coffee & Drinks</div>
                   </div>
                </div>
             </a>
          </div>
          <div class="col">
             <a href="shop-grid.html" class="text-decoration-none text-inherit">
                <div class="card card-product">
                   <div class="card-body text-center py-8">
                      <img src="../assets/images/category/category-fruits-vegetables.jpg" alt="Grocery Ecommerce Template" class="mb-3" />
                      <div class="text-truncate">Fruits & Vegetables</div>
                   </div>
                </div>
             </a>
          </div>
          <!-- col -->
          <div class="col">
             <a href="shop-grid.html" class="text-decoration-none text-inherit">
                <!-- card -->
                <div class="card card-product">
                   <div class="card-body text-center py-8">
                      <!-- img -->
                      <img src="https://media.istockphoto.com/id/1282866808/es/foto/pollo-crudo-fresco.jpg?s=1024x1024&w=is&k=20&c=JXaDhS1g98CYq6hkDORQDc_amK34hHZycrkZtXUOpj8=" alt="Grocery Ecommerce Template" class="mb-3" width="30" height="30"/>
                      <!-- text -->
                      <div class="text-truncate">Cold Drinks & Juices</div>
                   </div>
                </div>
             </a>
          </div>
          <!-- col -->
          <div class="col">
             <a href="shop-grid.html" class="text-decoration-none text-inherit">
                <!-- card -->
                <div class="card card-product">
                   <div class="card-body text-center py-8">
                      <!-- img -->
                      <img src="https://media.istockphoto.com/id/1282866808/es/foto/pollo-crudo-fresco.jpg?s=1024x1024&w=is&k=20&c=JXaDhS1g98CYq6hkDORQDc_amK34hHZycrkZtXUOpj8=" alt="Grocery Ecommerce Template" class="mb-3" width="30" height="30" />
                      <div class="text-truncate">Chicken, Meat & Fish</div>
                   </div>
                </div>
             </a>
          </div>
          <!-- col -->
          <div class="col">
             <a href="shop-grid.html" class="text-decoration-none text-inherit">
                <!-- card -->
                <div class="card card-product">
                   <div class="card-body text-center py-8">
                      <!-- img -->
                      <img src="../assets/images/category/category-baby-care.jpg" alt="Grocery Ecommerce Template" class="mb-3" />
                      <!-- text -->
                      <div class="text-truncate">Baby Care</div>
                   </div>
                </div>
             </a>
          </div>
          <!-- text -->
          <div class="col">
             <a href="shop-grid.html" class="text-decoration-none text-inherit">
                <!-- card -->
                <div class="card card-product">
                   <div class="card-body text-center py-8">
                      <!-- img -->
                      <img src="../assets/images/category/category-cleaning-essentials.jpg" alt="Grocery Ecommerce Template" class="mb-3" />
                      <!-- text -->
                      <div class="text-truncate">Cleaning Essentials</div>
                   </div>
                </div>
             </a>
          </div>
          <!-- col -->
          <div class="col">
             <a href="shop-grid.html" class="text-decoration-none text-inherit">
                <!-- card -->
                <div class="card card-product">
                   <div class="card-body text-center py-8">
                      <!-- img -->
                      <img src="../assets/images/category/category-pet-care.jpg" alt="Grocery Ecommerce Template" class="mb-3" />
                      <!-- text -->
                      <div class="text-truncate">Pet Care</div>
                   </div>
                </div>
             </a>
          </div>
          <!-- col -->
          <div class="col">
             <a href="shop-grid.html" class="text-decoration-none text-inherit">
                <!-- card -->
                <div class="card card-product">
                   <div class="card-body text-center py-8">
                      <!-- img -->
                      <img src="../assets/images/category/category-atta-rice-dal.jpg" alt="Grocery Ecommerce Template" class="mb-3" />
                      <!-- text -->
                      <div class="text-truncate">Atta, Rice & Dal</div>
                   </div>
                </div>
             </a>
          </div>
       </div>
    </div>
 </section>
  
{% endblock %}