{% extends "base.html" %}

{% block content %}
<h1>{{stock}}</h1>
<div class="container">
    <h1 class="text-center">PRODUCT LIST</h1>
    <div class="text-end">
        <a href="{% url 'create_product' %}">Create</a>
    </div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Stock</th>
            <th scope="col">Company</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
        {% for product in object_list %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                {% if product.stock <= 15 %}
                <td style="color:red">{{ product.stock }}</td>
                {% else %}
                <td style="color:green">{{ product.stock }}</td>
                {% endif %}
                <td>{{ product.company }}</td>
                {% if product.state == False %}
                <td style="color:red">{{ product.due_date}} -- EXPIRED</td>
                {% else %}
                <td>{{product.due_date}} -- OK</td>
                {% endif %}
                   
            </tr>
        {% endfor %}
         
        </tbody>
      </table>

</div>

{% endblock %}

